

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 0.3fr)); /* Adjust minmax as needed */
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 350px;
    margin-top: 30px;
  }
  
  .card {
    background-color: #f1eeee; /* Light gray background */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-title {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
  }
  
  .card-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
  }
  
  .card-icon {
    margin-left: 8px;
    font-size: 1.2rem;
    color: #a5a3a3;
  }
  
  .card-percentage {
    font-size: 0.9rem;
    color: #777;
  }
  