.contact-container {
     max-width: 700px;
     font-size: 20px;
     text-align: center;
     margin: 20px auto;
     padding: 20px;
     background: white;
     border-radius: 10px;
     background-color: rgb(235, 233, 233);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 85%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    
      width: 300px; 
      height: 40px; 
      padding: 8px 16px; 
      font-size: 20px; 
      padding: 10px;
      margin-left: 160px;
      background-color:#0E0590;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
  }
  
  .contact-form button:hover {
    background-color:#2c21c9;
  }
  

  .carti p{
    margin-left: 510px;
    font-size: 22px;
    color: gray;
    font-weight:bold;
  }
  .carti h2{
    margin-top: 50px;
    font-size: 32px;
  }