*{
    margin: 0;
    padding: 0;
}
.hero-section {
    position: relative;
    width: 100%;
    height: 75vh; 
    background: url("../assets/images/convect.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
 
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .hero-content {
    position: relative;
    color: white;
    z-index: 1;
   font-size: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 450px;
    margin-left: -800px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -940px;
  }
  
  .book-btn {
    background: #0E0590;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -1130px;

  }
  
  .book-btn:hover {
    background: #005999;
  }
  

  .search-box-home{
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 60px;
    margin-left: 200px;
    width: 60%;
    height: 8vh;
    justify-content: space-between;
  }
  
  .search-input,
  .date-picker,
  .guest-select {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    margin: 0 5px;
  }
  
  .search-btn {
    background: #0E0590;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 10%;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background: #005999;
  }


.africa{
    margin-top: 80px;
    margin-left: 450px;
    font-size: 70px;
    font-weight: lighter;
    font-style: italic;
}
.button-info{
    margin-left: 100px;
    margin-top: 30px;
  
   
}
.but{
    font-size: x-large;
    background-color:#0E0590;
    color: white;
    padding: 20px;
    margin-left: 20px;
   border-radius: 5px;
}
.but:hover{
    background-color:white;
    color: #0E0590;;
    
}
.but1{
    font-size: x-large;
    background-color:white;
    color: #0E0590;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
   border-radius: 5px;
}
.but1:hover{
    background-color:#0E0590;
    color: white;
}
.but2{
    font-size: x-large;
    background-color: rgb(248, 162, 1);
    padding: 20px;
    margin-left: 20px;
   border-radius: 5px; 
}
.but2:hover{
    background-color: white;
 
}


.popular{
    margin-top: 100px;
    margin-left: 10px;
   
}

.addis{
    width: 20%;
    height: 300px;
    margin-top: 80px;
    margin-left: 30px;
}
.city{
    position: absolute;
    margin-top: 180px;
    margin-left: 65px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.daras{
   width: 20%;
   height: 300px;
   margin-top: 80px; 
   margin-left: 30px;
   
}
.bisate{
    width: 25%;
    height: 300px;
    margin-top: 80px; 
    margin-left: 30px;
}

.convect{
    width: 20%;
    height: 300px;
    margin-left: 30px;
    margin-top: 80px;
}


.tanza{
    width: 18%;
    height: 300px;
    margin-left: 40px;
    margin-top: 80px;
    
}

.pic1{
    margin-left: 975px;
    margin-top: -180px;
    width: 18%;
    height: 300px;
}
.nairobi{
    margin-left: 1039px;
    margin-top: -160px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.pic2{
    margin-left: 1300px;
    margin-top: -180px;
    width: 18%;
    height: 300px;
}
.bujumbura{
    margin-left: 1350px;
    margin-top: -150px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.top-hotels{
    margin-top: 60px;
}
.top-hotels h1{
  margin-left: 100px;
}
.trending-destination{
     max-width: 1400px;
     font-size: 1.5rem;
     margin-top: 30px;
     margin: 20PX;
     padding-left: 5rem;
     padding-right: 5rem;
     background:white;
     margin-top: 90PX;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   
}
.trending-images{
    background: white;
    border-radius: 10px;
   
    padding: 15px;
    text-align: center;
  }
  .trending-container{
    margin-top: 30px;
  }
  .luxur-hotel h1{
  margin-left: 95px;
  }


.hotels{
    font-size:60px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: -1120px;
}
.pic3{
    width: 20%;
    height: 250px;
    margin-left: 10px;
}
.luxury-hotels{
    font-size:60px;
    font-weight: bolder;
    margin-top: 60px;
    margin-left: -1030px;
}

.hero-content {
    max-width: 100%;
    position: relative;
    margin-top: -250px;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero-content h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hero-button {
    background-color:#0E0590;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .hero-button:hover {
    background-color:#0E0590;
  }